@page
@model SchoolApp.Pages.Administrateur.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["Adminname"] = "Mohamed";
    Layout = "~/Pages/Shared/layout_admin.cshtml";
}

<div class="card-header">
    <br />
    <h1 align="center">Hello @ViewData["Adminname"]</h1>
    <br />
</div>


