@page
@model SchoolApp.Pages.Modules.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Module.IdMod" class="control-label"></label>
                <input asp-for="Module.IdMod" class="form-control" />
                <span asp-validation-for="Module.IdMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module.IdFill" class="control-label"></label>
                <input asp-for="Module.IdFill" class="form-control" />
                <span asp-validation-for="Module.IdFill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module.NomMod" class="control-label"></label>
                <input asp-for="Module.NomMod" class="form-control" />
                <span asp-validation-for="Module.NomMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module.Semestre" class="control-label"></label>
                <input asp-for="Module.Semestre" class="form-control" />
                <span asp-validation-for="Module.Semestre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
